<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>Edit Cars</h1>
    
    <!-- Edit Form -->
    <form action="/cars/<%= id %>?_method=PUT" method="POST">
        Name: <input type="text" name="name" value="<%=cars.name%>"/><br/>
        Color: <input type="text" name="color" value="<%=cars.color%>"/><br/>
        Seats: <input type="text" name="name" value="<%=cars.seats%>"/><br/>
        <input type="submit" name="" value="Submit Changes"/>
    </form>
</body>
</html>