<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <ul class="cars">
        <% for(let i = 0; i < cars.length; i++) { %>
            <li><%= cars[i].name %></li>

             <!-- Delete Form -->
        <form action="/cars/<%=i%>?_method=DELETE" method="POST">
            <input type="submit" value="delete">
        </form>
        <a href="/cars/<%=i%>/edit">Edit <%=cars[i].name%></a>
        <% } %>
    </ul>
    <!-- <nav>
        <a href="/cars/edit">Create a New Car</a>
    </nav> -->
</body>
</html>